page_title: "Linear Provider"
description: |-

# Linear Provider

This provider is used to interact with the many resources supported by [Linear](https://linear.app).

## Authentication

This provider requires a Linear API token in order to manage resources.

To manage the full selection of resources, provide a user token from an account with appropriate permissions.

There are several ways to provide the required token:

* **Set the `token` argument in the provider configuration**. You can set the `token` argument in the provider configuration. Use an input variable for the token.
* **Set the `LINEAR_TOKEN` environment variable**. The provider can read the `LINEAR_TOKEN` environment variable and the token stored there to authenticate.

## Example Usage

{{ tffile "examples/provider/provider.tf" }}

{{ .SchemaMarkdown | trimspace }}
